body{
    background: radial-gradient(#290000,#000000 );
    min-width: 700px;
    height: 100%;
    color: white;
}
.header{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0%;
}
.img{ 
    display: grid;
    height: 250px;
    width: 100%;
    margin: auto;
    position: relative;
    background-image: url(../assets/design1_image1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 33%;
    background-size: 1900px;/*ajustar imagen*/
    border-radius: 6px;
}
.titulo{
    position: relative;
    margin: 0;
    bottom: 0vh;
    height: 88px;
    background: radial-gradient(#000000, #290000 );
    opacity: 0.9;
    -webkit-text-stroke: 0.5px #808B96;
}
.titulo > h1{
    text-align: center;
    margin-top: 0px;
    margin-right: 80px;
    margin-left: 80px;
    font-size: calc(1.5rem + 2.5vw);
}

.navegation{
    height: 35px;
    font-size: 20px;
    position: relative;
    margin: 0%;
    background: linear-gradient(#000000, #290000 );
    color:black;
    font-weight: bold;
    text-align: center;
    color: white
}
.section2{
    height: 220px; 
    position: absolute;
    padding-right: 3%;
}

.links{
    display: grid;
    font-weight: bold;
    max-width: 1 00%;
    list-style: none;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    justify-content: space-between;
    height: 150px;
}
.links> a{
    position: relative;
    display: flex;
    margin: 0;
    min-width: 10vw;
    cursor: pointer;
    background-repeat: no-repeat;
    align-items: flex-end;
    border-radius: 6px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}
.textLink{
    position: absolute;
    width: 100%;
    height: 30%;
    padding-bottom: 0%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: #29000093;
    color: white
}
.links b:hover{
    background: #6d6d6d80;
}

.logo-game{
    position: absolute;
    top: 0;
    width:90px;
    height:90px;
}
.home{
    background-image: url(../assets/design1_image1.jpg);
    background-position-x: 25%;
    background-position-y: 32%;
    background-size: 800px;
}
.about{
    background-image: url(../assets/hockey_2.jpg);
    background-position-x: 92%;
    background-position-y: 12%;
    background-size: 300px;
}
.contact{
    background-image: url(../assets/design1_image2.jpg);
    background-position-x: 12%;
    background-position-y: 32%;
    background-size: 400px;
}
.rules{
    background-image: url(../assets/hockey_1.jpg);
    background-position-x: 38%;
    background-position-y: 32%;
    background-size: 400px;
}
.information{
    background-image: url(../assets/hockey_3.jpg);
    background-position-x: 12%;
    background-position-y: 32%;
    background-size: 300px;
}
.form{
    background-image: url(../assets/design1_image1.jpg);
    background-position-x: 98%;
    background-position-y: 20%;
    background-size: 400px;
}

.info{
    height: 16.3em;
    width: 100%;
    float: right;
    position: relative;
    padding-bottom: 50px;
    margin: 0%;
    font-size: 90%;
    font-weight: 800;
    font-weight: bold;
}

.header-rules{
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0%;
}
.info-game{
    background-color: #C00;
    font-size: 20px;
}

div > ol > li> p{
    top: 10vw;
}

.tit-rules{
    list-style: none;
    position: relative;
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
}

.point3{    
    padding: 0;
    list-style: inside;
    list-style-type: lower-latin;
    }

.font-bold{ 
    font-weight: bold;
    font-size: 22px;
}

.body-list{
    margin: 0;
    padding: 0;
    list-style-position:inside;
}
.head-list{
    list-style: none;
}
.font-point3{
    font-weight: bold;
    font-size: 18px;
}
.text-point4{
    list-style: none;
}
.text-point5{
    list-style-type: circle;
    list-style-position:inside;
}
.title-list{
    list-style: none;
    text-align: center;
}
.margin.sportsmanships{
    text-indent: pt;
}
.dates{
    margin-top: 60vh;
}

/*------------------------------game information----------------------*/
.conteiner-tabla{
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    height: 350px;
}
table{
    
    background-color: rgba(141, 0, 0, 0.508);
    width: 100%;
}

table td{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    border-bottom: solid 2px white; /*bode de las filas*/
}

.padding-none{
    padding-left: 60px;
    font-size: 20px;
}
.scope{
    padding-bottom: 3%;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    background: linear-gradient( #290000, #000000 );
    border-bottom: solid 2px rgb(255, 255, 255);
}

tr:nth-child(odd){ /*aplicar a los hijos */
    background-color: #00000079;
}

.info-game{
    width: 100;
    height: 20px;
}
.title-game{
    margin-top: 4%;
    font-size: 34px;
    list-style: none;
    text-align: center;
    font-weight: bold;
    width: 100%;
}
.subtitle-game{
    font-style: oblique;
    font-size: 22px;
    margin-left: 40px;
    list-style: none;
}
.subtitle2{
    font-style: oblique;
    font-size: 17px;
    font-family: sans-serif;
    list-style: none;
}
.margin-p3{
    margin-top: 23px;
}
.font-bold-phone{
    font-weight: bold;
    font-size: 18px;

}
.font-bold-email{
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
.footer{
    position: relative;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 12%;
}
.footer2{
    margin-bottom: 50px;
}
.footer3{
    margin-bottom: 0;
}
.phone{
    position: absolute;
}
.email{
    position: absolute;
    right: 0%;
}

/*--------------------------form-----------------------*/
.titleForm{
    font-size: 34px;
    list-style: none;
    text-align: center;
    font-weight: bold;
}
.personalDate{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 35px 35px 35px 35px ;
    font-size: 21px;
}
.conteinerFirstName input{
    width: 42%;
    color: white
}
.ConteinerLastName input{
    width: 65%;
    color: white
}
.ConteinerStreetAddress input{
    width: 78%;
    color: white
}
.conteinerCity input{
    width:82%;
    color: white
}
.conteinerZipCode input{
    width:71%;
    color: white
}
.conteinerBirthDate input{
    width:31%;
    color: white
}
.conteinerBirthDate{
    color: white;
}
.ConteinerStreetAddress{
    grid-column: 1/3;
}
.conteinerBirthDate{
    grid-column: 1/2;
}
.conteinerGrade{
    grid-column: 1/3;
}
.secondTitleForm{
    font-size: 25px;
}
.secondTitleFormText{
    font-size: 25px;
    margin-bottom: 0;
}
.thirdTitleForm{
    font-size: 22px;
}
.form-registration input[type="checkbox"]{
    display: none; /*eliminar los recuadros de los checkbox*/
}
.conteinerSex label,
.conteinerGrade label,
.closest label,
.position label,
.uniform label{
    border: 3px solid rgba(255, 255, 255, 0.081);
    padding: 5px 15px 5px 42px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease; /*transicion de los label*/
    -o-transition:all 0.3s ease;
    transition: all 0.3s ease;
}
.conteinerSex label:hover, /*color al pasar muse*/
.conteinerGrade label:hover,
.closest label:hover,
.position label:hover,
.uniform label:hover{
    background: #6d6d6d57;
}
.conteinerSex label:before, /*label despeus de clikear*/
.conteinerGrade label:before,
.closest label:before,
.position label:before,
.uniform label:before{
    content: "";
    width: 14px; /*nuevo checkbox*/
    height: 14px;
    display: inline-block; /*poner todo dentro del block*/
    background: none;
    border: 3px solid white;
    border-radius:3%;
    position: absolute;
    left: 14px;
    
}
.conteinerSex label,
.conteinerGrade label{
    border: none;
}
.form-registration input[type="checkbox"]:checked + label{ /*cuando en el input se apreta sobre el checkbox se aplica al label */
    padding: 5px 15px;
    background: #cbcbcb;
    color: #000000;
}

.form-registration input[type="checkbox"]:checked + label:before{
    display: none;
}


.closest{
    display: grid;
    grid-template-columns: 50% 50%;
}
.position{
    display: grid;
    grid-template-columns: 50% 50%;
}
.uniform{
    display: grid;
    grid-template-columns: 50% 50%;
}
.ConteinerSign input{
    width:50%;
    border: none;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white
}
.ConteinerDate input{
    border: none;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white
}
form > p{
    font-size: 15px;
}
.personalDate input{
    border: none;
    background: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}
.send-form{
    margin-left: 0;
    width: 200px;
    height: 30px;
    display: inline-block;
    background: none;
    border: 3px solid white;
    border-radius:3%;
    position: absolute;
    left: 50px;
    cursor: pointer;
    text-align: center;
    color: white;
}

form button:hover{
    background: #6d6d6d57;
}

button{
    margin-top: 25px;
    margin-left: 25%;
}
.seeData{
    width: 200px;
    height: 25px;
    display: inline-block;
    background: none;
    border: 3px solid white;
    border-radius:3%;
    position: absolute;
    left: 200px;
    cursor: pointer;
    text-align: center;
    color: white;
    margin-top: 25px;
    margin-left: 25%;
}
form a:hover{
    background: #6d6d6d57;
}
